@media (max-width: 1024px) {
  /* =============== HEADER =============== */
  .nav__logo {
    width: 70px;
  }
  .title {
    font-size: 3rem;
  }
  .nav__link {
    font-size: 1rem;
  }
  .search__input {
    width: 150px;
  }
  .nav__register {
    font-size: 1rem;
    padding: 10px;
  }
  /* =============== HERO =============== */
  .hero__h2 {
    font-size: 2.8rem;
  }
  .hero__h3 {
    font-size: 1.1rem;
  }
  .hero__link {
    padding: 8px 12px;
  }
  /* =============== ABOUT =============== */
  .about__text {
    max-width: 800px;
  }

  /* =============== CARDS =============== */
  /* =============== PELÍCULAS =============== */
  .movie-list {
    gap: 150px;
  }
}

@media (max-width: 900px) {
  /* =============== HEADER =============== */
  .desktop-nav .ul,
  .desktop-nav .nav__register {
    display: none;
  }
  .cel-nav {
    display: flex;
  }
  .search__mobile {
    display: none;
  }
  .nav__ul {
    flex-direction: column;
    gap: 70px;
  }
  .nav__link {
    background-color: var(--primary);
    padding: 15px;
    font-size: 1.4rem;
  }
  .nav__register {
    padding: 15px 30px;
    font-size: 1.4rem;
  }
  /* =============== HERO =============== */
  .hero {
    flex-wrap: wrap;
  }
  /* =============== ABOUT =============== */
  .about__text {
    max-width: 700px;
  }
}

@media (max-width: 768px) {
  /* =============== HEADER =============== */
  .nav__search {
    display: none;
  }
  .search__mobile {
    display: flex;
  }
  .search__mobile .search__input {
    width: 300px;
    padding: 20px;
  }
  /* =============== HERO =============== */
  .hero__h2 {
    font-size: 2.6rem;
  }
  .hero__link {
    padding: 5px 10px;
  }
  .hero__img {
    min-width: 50px;
    max-width: 800px;
  }
  /* =============== ABOUT =============== */
  .about__text {
    max-width: 600px;
    font-size: 1rem;
  }
  .about__text span {
    font-size: 1.1rem;
  }
}
@media (max-width: 425px) {
  /* =============== HEADER =============== */
  .nav__logo {
    width: 60px;
  }
  .title {
    font-size: 2.6rem;
  }
  /* =============== HERO =============== */
  .hero__img {
    display: none;
  }
  /* =============== ABOUT =============== */
  .about__text {
    max-width: 350px;
  }
}

@media (max-width: 375px) {
  .nav__logo {
    width: 50px;
  }
  .title {
    font-size: 2.3rem;
  }
  .search__mobile .search__input {
    width: 250px;
  }
  .hero__buttons {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  /* =============== ABOUT =============== */
  .about__text {
    max-width: 300px;
  }

  /* =============== CARDS =============== */
  /* =============== PELÍCULAS =============== */
  .movie-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 320px) {
  /* =============== HEADER =============== */
  header {
    padding: 5px;
  }
  .menu-icon {
    font-size: 1.4rem;
  }
  .title {
    font-size: 2rem;
  }
  .search__mobile .search__input {
    width: 220px;
  }
  /* =============== ABOUT =============== */
  .about__text {
    max-width: 250px;
  }

  /* =============== CARDS =============== */
  /* =============== PELÍCULAS =============== */
  .movie-title {
    font-size: 2rem;
  }
}
