/* =============== IMPORTAR FUENTE  =============== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,800;0,900;1,100;1,400;1,600;1,800;1,900&family=Poppins:wght@300;400;600;700;800&family=Signika:wght@300;400;500;600;700&display=swap");

/* =============== VARIABLES  =============== */
:root {
  --background: #141414;
  --text: #ebebeb;
  --gray: #292929;
  --lightgray: #3d3d3d;

  --primary: #c92c39;
  --primary2: #ae2558;
  --primary3: #921e76;

  --secondary: #6926ba;
  --secondary2: #773ac0;
  --secondary3: #834cc6;
}

/* =============== RESET  =============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* =============== ESTILOS APLICADOS A TODOS LOS ELEMENTOS  =============== */
* {
  scroll-behavior: smooth;
}

/* =============== BODY  =============== */
body {
  font-family: "Poppins", sans-serif;
  background: var(--background);
  color: var(--text);
}

/* =============== HEADER  =============== */
header {
  background: linear-gradient(
    to bottom,
    var(--primary),
    var(--primary2),
    var(--primary3)
  );
  padding: 8px;
  position: sticky;
  top: 0;
  max-height: 110px;
  z-index: 10;
}

.nav__logo {
  width: 90px;
  border: 2px solid var(--secondary3);
  box-shadow: 0px 0px 8px 1px var(--secondary);
  border-radius: 100%;
  transition: all 0.2s;
}

.nav__logo:hover {
  box-shadow: 0px 0px 8px 6px var(--secondary);
}

.title {
  font-family: "Signika", sans-serif;
  font-size: 3.6rem;
}
.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav__div {
  display: flex;
  gap: 20px;
}

.nav__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.nav__link {
  color: var(--text);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  padding: 10px;
  background: var(--gray);
  border-bottom: 2px solid #ebebeb;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 0.2s;
}

.nav__link:hover {
  background-color: var(--text);
  /* background: linear-gradient(to top, var(--secondary), var(--gray)); */
  border-color: var(--gray);
  color: var(--gray);
}
.nav__search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.nav__search i {
  font-size: 1.5rem;
}

.search__input {
  width: 200px;
  height: 35px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--text);
  outline: none;
  padding: 5px;
  transition: all 0.1s;
  color: var(--text);
  font-family: "Poppins", sans-serif;
}

.search__input::placeholder {
  color: var(--text);
  font-family: "Poppins", sans-serif;
}

.search__input:hover {
  border-radius: 5px;
  border: 2px solid var(--text);
}

.search__input:focus {
  border-radius: 5px;
  border: 2px solid var(--text);
  background: var(--lightgray);
}

.nav__register {
  font-size: 1.2rem;
  padding: 8px 10px;
  background: var(--secondary);
  color: var(--text);
  border: 2px solid var(--text);
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.2s;
}

.nav__register:hover {
  background: var(--text);
  color: var(--secondary);
  box-shadow: 0px 0px 20px 1px var(--secondary);
  border: 2px solid var(--secondary);
}

.cel-nav {
  display: none;
}
.menu-icon {
  font-size: 2rem;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 95%;
  width: 100%;
  background: linear-gradient(to top, var(--background), var(--gray));
  position: fixed;
  z-index: 10;
}
.menu {
  display: none;
}
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked + .menu {
  display: flex;
}

/* =============== HERO  =============== */
.hero {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: linear-gradient(
    to top,
    transparent,
    var(--secondary),
    var(--primary3)
  );
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 500px;
}
.hero__h2 {
  font-family: "Signika", sans-serif;
  font-style: italic;
  font-size: 3rem;
  font-weight: 700;
}
.hero__h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}
.hero__buttons {
  display: flex;
  gap: 20px;
}
.hero__link {
  background: var(--primary);
  font-size: 1.3rem;
  color: var(--text);
  text-decoration: none;
  padding: 8px 15px;
  border: 2px solid var(--gray);
  border-radius: 10px;
  transition: all 0.2s;
}

.hero__link:hover {
  background: var(--text);
  border-color: var(--primary);
  color: var(--gray);
  box-shadow: 0px 0px 20px 1px var(--primary);
}

.hero__img {
  border-radius: 30px;
  border: 3px solid var(--primary);
  object-fit: cover;
  min-width: 500px;
  max-width: 1000px;
  height: 500px;
}

/* =============== ABOUT  =============== */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__text {
  padding: 20px;
  margin-top: 40px;
  text-align: center;
  max-width: 1000px;
  font-weight: 300;
  font-size: 1.1rem;
  border: 2px solid var(--secondary);
  border-radius: 20px;
  background: var(--background);
  box-shadow: 0px 0px 20px var(--secondary);
}
.about__text span {
  font-family: "Signika", sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
}

/* =============== CARDS  =============== */

/* =============== PELÃCULAS POPULARES  =============== */

.popular-title {
  font-family: "Signika", sans-serif;
  font-size: 2.6rem;
  text-align: center;
  padding-top: 50px;
  border-bottom: 2px solid var(--secondary3);
  padding-top: 120px;
}

.popular-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  padding-top: 50px;
  flex-wrap: wrap;
  gap: 100px;
}

.popular-movie {
  width: 220px;
  position: relative;
  height: 450px;
  color: var(--text);
}

.popular-movie__link {
  text-decoration: none;
}

.popular-movie__normal {
  padding: 10px;
  background: var(--gray);
  border-radius: 10px;
  box-shadow: 0px 0px 20px 4px var(--primary);
  background-position: center;
  transition: all 0.8s;
}

.popular-movie__normal img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid var(--primary);
}

.popular-movie__normal h4 {
  font-size: 1.1rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

/* HOVER */

.popular-movie__hover {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 220px;
  padding: 10px;
  opacity: 0;
  transition: all 0.4s;
}
.popular-hover__img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  transform: translateY(-70px);
}

.popular-hover__title {
  width: 200px;
  transform: translateY(-40px);
}

.popular-movie__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-40px);
}

.popular-movie__duration {
  text-decoration: underline;
}

.popular-movie__min-age {
  background: var(--lightgray);
  border-radius: 8px;
  padding: 5px;
}

.popular-movie__genre {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  transform: translateY(-40px);
}

.popular-movie__genre p {
  font-size: 0.8rem;
  padding: 4px;
  background: var(--gray);
  border-radius: 8px;
}

.popular-movie__qualification {
  text-align: center;
  transform: translateY(-40px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popular-movie__qualification span {
  font-size: 1.5rem;
}

/* ================== HOVER ================== */

.popular-movie:hover {
  perspective: 300px;
  cursor: pointer;
}

.popular-movie:hover > .popular-movie__normal {
  transform: rotateX(10deg) rotateY(0deg);
  transform-style: preserve-3d;
  box-shadow: none;
}

.popular-movie:hover > .popular-movie__normal > img {
  opacity: 0;
}

.popular-movie:hover > .popular-movie__normal > h4 {
  opacity: 0;
}

.popular-movie:hover > .popular-movie__hover {
  opacity: 1;
}

.popular-movie:hover > .popular-movie__hover > .popular-hover__img {
  animation: fadeDown 1s forwards;
}

.popular-movie:hover > .popular-movie__hover > .popular-hover__title {
  animation: fadeUp 1s forwards;
}

/* CAMBIOS PELICULA AVENGERS: ENDGAME */
.popular-movie:hover > .avengers {
  background: linear-gradient(
      to top,
      var(--gray),
      transparent,
      var(--background)
    ),
    url("../imgs/Endgame.webp");
  background-position: center;
  background-size: cover;
}

/* CAMBIOS PELICULA TITANIC */

.popular-movie:hover > .titanic {
  background: linear-gradient(
      to top,
      var(--gray),
      transparent,
      var(--background)
    ),
    url("../imgs/Titanic.jpg");
  background-position: center;
  background-size: cover;
}

/* CAMBIOS PELICULA AVATAR */

.popular-movie:hover > .avatar {
  background: linear-gradient(
      to top,
      var(--gray),
      transparent,
      var(--background)
    ),
    url("../imgs/avatar.jpg");
  background-position: center;
  background-size: cover;
}

/* CAMBIOS PELICULA HARRY POTTER */

.popular-movie:hover > .harry_potter {
  background: linear-gradient(
      to top,
      var(--gray),
      transparent,
      var(--background)
    ),
    url("../imgs/harry_potter.jpg");
  background-position: center;
  background-size: cover;
}
/* CAMBIOS PELICULA MESSI */

.popular-movie:hover > .messi {
  background: linear-gradient(
      to top,
      var(--gray),
      transparent,
      var(--background)
    ),
    url("../imgs/messi.jpg");
  background-position: center;
  background-size: cover;
}
/* CAMBIOS PELICULA RAPIDOS Y FURIOSOS */

.popular-movie:hover > .fast_furious {
  background: linear-gradient(
      to top,
      var(--gray),
      transparent,
      var(--background)
    ),
    url("../imgs/rapidos_y_furiosos.webp");
  background-position: center;
  background-size: cover;
}
/* CAMBIOS PELICULA JURASSIC PARK */

.popular-movie:hover > .jurassic_park {
  background: linear-gradient(
      to top,
      var(--gray),
      transparent,
      var(--background)
    ),
    url("../imgs/Jurassic_park.jpg");
  background-position: center;
  background-size: cover;
}
/* CAMBIOS PELICULA STAR WARS */

.popular-movie:hover > .star_wars {
  background: linear-gradient(
      to top,
      var(--gray),
      transparent,
      var(--background)
    ),
    url("../imgs/star_wars.jpg");
  background-position: center;
  background-size: cover;
}
/* CAMBIOS PELICULA STAR WARS */

.popular-movie:hover > .lord_of_the_rings {
  background: linear-gradient(
      to top,
      var(--gray),
      transparent,
      var(--background)
    ),
    url("../imgs/lord_of_the_rings.jpg");
  background-position: center;
  background-size: cover;
}
.popular-movie:hover > .pirates_of_the_caribbean {
  background: linear-gradient(
      to top,
      var(--gray),
      transparent,
      var(--background)
    ),
    url("../imgs/piratas_del_caribe.jpg");
  background-position: center;
  background-size: cover;
}

/* ================== ANIMACIONES ================== */

@keyframes fadeDown {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-60px);
    opacity: 1;
  }
}

@keyframes fadeUp {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(-50px);
    opacity: 1;
  }
}
