/* =============== IMPORTAR FUENTE  =============== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,800;0,900;1,100;1,400;1,600;1,800;1,900&family=Poppins:wght@300;400;600;700;800&family=Signika:wght@300;400;500;600;700&display=swap");

/* =============== VARIABLES  =============== */
:root {
  --background: #141414;
  --text: #ebebeb;
  --gray: #292929;
  --lightgray: #3d3d3d;

  --primary: #c92c39;
  --primary2: #ae2558;
  --primary3: #921e76;

  --secondary: #6926ba;
  --secondary2: #773ac0;
  --secondary3: #834cc6;
}

/* =============== RESET  =============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* =============== ESTILOS APLICADOS A TODOS LOS ELEMENTOS  =============== */
* {
  scroll-behavior: smooth;
}

/* =============== BODY  =============== */
body {
  font-family: "Poppins", sans-serif;
  background: var(--background);
  color: var(--text);
}

/* =============== HEADER  =============== */
header {
  background: linear-gradient(
    to bottom,
    var(--primary),
    var(--primary2),
    var(--primary3)
  );
  padding: 8px;
  position: sticky;
  top: 0;
  max-height: 110px;
  z-index: 10;
}

.nav__logo {
  width: 90px;
  border: 2px solid var(--secondary3);
  box-shadow: 0px 0px 8px 1px var(--secondary);
  border-radius: 100%;
  transition: all 0.2s;
}

.nav__logo:hover {
  box-shadow: 0px 0px 8px 6px var(--secondary);
}

.title {
  font-family: "Signika", sans-serif;
  font-size: 3.6rem;
}
.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav__div {
  display: flex;
  gap: 20px;
}

.nav__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.nav__link {
  color: var(--text);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  padding: 10px;
  background: var(--gray);
  border-bottom: 2px solid #ebebeb;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 0.2s;
}

.nav__link:hover {
  background-color: var(--text);
  border-color: var(--gray);
  color: var(--gray);
}
.nav__search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.nav__search i {
  font-size: 1.5rem;
}

.search__input {
  width: 200px;
  height: 35px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--text);
  outline: none;
  padding: 5px;
  transition: all 0.1s;
  color: var(--text);
  font-family: "Poppins", sans-serif;
}

.search__input::placeholder {
  color: var(--text);
  font-family: "Poppins", sans-serif;
}

.search__input:hover {
  border-radius: 5px;
  border: 2px solid var(--text);
}

.search__input:focus {
  border-radius: 5px;
  border: 2px solid var(--text);
}

.nav__register {
  font-size: 1.2rem;
  padding: 8px 10px;
  background: var(--secondary);
  color: var(--text);
  border: 2px solid var(--text);
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.2s;
}

.nav__register:hover {
  background: var(--text);
  color: var(--secondary);
  box-shadow: 0px 0px 20px 1px var(--secondary);
  border: 2px solid var(--secondary);
}

.cel-nav {
  display: none;
}
.menu-icon {
  font-size: 2rem;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 95%;
  width: 100%;
  background: linear-gradient(to top, var(--background), var(--gray));
  position: fixed;
  z-index: 10;
}
.menu {
  display: none;
}
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked + .menu {
  display: flex;
}

/* =============== HERO  =============== */
.hero {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: linear-gradient(
    to top,
    transparent,
    var(--secondary),
    var(--primary3)
  );
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 500px;
}
.hero__h2 {
  font-family: "Signika", sans-serif;
  font-style: italic;
  font-size: 3rem;
  font-weight: 700;
  opacity: 0;
}
.hero__h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  opacity: 0;
}
.hero__buttons {
  display: flex;
  gap: 20px;
  opacity: 0;
}
.hero__link {
  background: var(--primary);
  font-size: 1.3rem;
  color: var(--text);
  text-decoration: none;
  padding: 8px 15px;
  border: 2px solid var(--gray);
  border-radius: 10px;
  transition: all 0.2s;
}

.hero__link:hover {
  background: var(--text);
  border-color: var(--primary);
  color: var(--gray);
  box-shadow: 0px 0px 20px 1px var(--primary);
}

.hero__img {
  border-radius: 30px;
  border: 3px solid var(--primary);
  object-fit: cover;
  min-width: 500px;
  max-width: 1000px;
  height: 500px;
  opacity: 0;
}

/* =============== ABOUT  =============== */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.about__text {
  padding: 20px;
  margin-top: 40px;
  text-align: center;
  max-width: 1000px;
  font-weight: 300;
  font-size: 1.1rem;
  border: 2px solid var(--secondary);
  border-radius: 20px;
  background: var(--background);
  box-shadow: 0px 0px 20px var(--secondary);
}
.about__text span {
  font-family: "Signika", sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
}

/* =============== CARDS  =============== */

/* =============== PELÍCULAS  =============== */

.movie-title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.6rem;
  text-align: center;
  padding-top: 50px;
  border-bottom: 2px solid;
  padding-top: 120px;
  opacity: 0;
}

.movies__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 90px;
  padding: 30px;
  padding-top: 50px;
}

.movie {
  width: 220px;
  position: relative;
  height: 450px;
  color: var(--text);
}

.movie__link {
  text-decoration: none;
  opacity: 0;
}

.movie__normal {
  padding: 10px;
  background: var(--gray);
  border-radius: 10px;
  background-position: center;
  transition: all 0.8s;
}

.movie__normal img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid;
}

.movie__normal h4 {
  font-size: 1.1rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* HOVER */

.movie__hover {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 220px;
  padding: 10px;
  opacity: 0;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.movie-hover__img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  transform: translateY(-70px);
}

.movie-hover__title {
  width: 200px;
  transform: translateY(-40px);
}

.movie-hover__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-40px);
}

.movie__duration {
  text-decoration: underline;
}

.movie__min-age {
  background: var(--lightgray);
  border-radius: 8px;
  padding: 5px;
}

.movie__genre {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  transform: translateY(-40px);
}

.movie__genre p {
  font-size: 0.8rem;
  padding: 4px;
  background: var(--gray);
  border-radius: 8px;
}
.movie__qualification {
  text-align: center;
  transform: translateY(-40px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie__qualification span {
  font-size: 1.5rem;
}

/* ================== HOVER ================== */

.movie:hover {
  perspective: 300px;
  cursor: pointer;
}

.movie:hover > .movie__normal {
  transform: rotateX(10deg) rotateY(0deg);
  transform-style: preserve-3d;
  box-shadow: none;
}

.movie:hover > .movie__normal > img {
  opacity: 0;
}

.movie:hover > .movie__normal > h4 {
  opacity: 0;
}

.movie:hover > .movie__hover {
  opacity: 1;
}

.movie:hover > .movie__hover > .movie-hover__img {
  animation: imgHover 1s forwards;
}

.movie:hover > .movie__hover > .movie-hover__title {
  animation: titleHover 1s forwards;
}

/* ================== ANIMACIONES ================== */

@keyframes imgHover {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    transform: translateY(-60px);
    opacity: 1;
  }
}

@keyframes titleHover {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(-50px);
    opacity: 1;
  }
}

/* =============== PELÍCULAS POPULARES  =============== */

.popular-title {
  border-color: var(--primary2);
}

.popular-movie__normal {
  box-shadow: 0px 0px 20px 4px var(--primary);
}

.popular-movie__normal img {
  border-color: var(--primary);
}

/* CAMBIOS PELICULA AVENGERS: ENDGAME */
.movie:hover > .avengers {
  background: linear-gradient(
      to top,
      var(--gray),
      transparent,
      var(--background)
    ),
    url("../imgs/Endgame.webp");
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 20px 4px #7300ff;
}
/* CAMBIOS PELICULA TITANIC */

.movie:hover > .titanic {
  background: linear-gradient(
      to top,
      var(--gray),
      transparent,
      var(--background)
    ),
    url("../imgs/Titanic.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 20px 4px #ff6a00;
}

/* CAMBIOS PELICULA AVATAR */

.movie:hover > .avatar {
  background: linear-gradient(
      to top,
      var(--gray),
      transparent,
      var(--background)
    ),
    url("../imgs/avatar.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 20px 4px #0084ff;
}

/* CAMBIOS PELICULA HARRY POTTER */

.movie:hover > .harry_potter {
  background: linear-gradient(
      to top,
      var(--gray),
      transparent,
      var(--background)
    ),
    url("../imgs/harry_potter.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 20px 4px rgb(56, 137, 118);
}
/* CAMBIOS PELICULA MESSI */

.movie:hover > .messi {
  background: linear-gradient(
      to top,
      var(--gray),
      transparent,
      var(--background)
    ),
    url("../imgs/messi.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 20px 4px #00e1ff;
}
/* CAMBIOS PELICULA RAPIDOS Y FURIOSOS */

.movie:hover > .fast_furious {
  background: linear-gradient(
      to top,
      var(--gray),
      transparent,
      var(--background)
    ),
    url("../imgs/rapidos_y_furiosos.webp");
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 20px 4px #c6c6c6;
}
/* CAMBIOS PELICULA JURASSIC PARK */

.movie:hover > .jurassic_park {
  background: linear-gradient(
      to top,
      var(--gray),
      transparent,
      var(--background)
    ),
    url("../imgs/Jurassic_park.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 20px 4px #ffae00;
}
/* CAMBIOS PELICULA STAR WARS */

.movie:hover > .star_wars {
  background: linear-gradient(
      to top,
      var(--gray),
      transparent,
      var(--background)
    ),
    url("../imgs/star_wars.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 20px 4px #ff0000;
}
/* CAMBIOS PELICULA EL SEÑOR DE LOS ANILLOS */

.movie:hover > .lord_of_the_rings {
  background: linear-gradient(
      to top,
      var(--gray),
      transparent,
      var(--background)
    ),
    url("../imgs/lord_of_the_rings.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 20px 4px #ffe600;
}

/* CAMBIOS PIRATAS DEL CARIBE */
.movie:hover > .pirates_of_the_caribbean {
  background: linear-gradient(
      to top,
      var(--gray),
      transparent,
      var(--background)
    ),
    url("../imgs/piratas_del_caribe.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 20px 4px #ff3700;
}

/* =============== NOVEDADES  =============== */

.new-title {
  border-color: var(--secondary2);
}

.new-movie__normal {
  box-shadow: 0px 0px 20px 4px var(--secondary);
}

.new-movie__normal img {
  border-color: var(--secondary);
}

/* CAMBIOS BARBIE */
.movie:hover > .barbie {
  background: linear-gradient(
      to top,
      var(--gray),
      transparent,
      var(--background)
    ),
    url("../imgs/barbie.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 20px 4px #ffa1ff;
}
/* CAMBIOS OPPENHEIMER */
.movie:hover > .oppenheimer {
  background: linear-gradient(
      to top,
      var(--gray),
      transparent,
      var(--background)
    ),
    url("../imgs/oppenheimer.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 20px 4px #ff6600;
}
/* CAMBIOS ELEMENTAL */
.movie:hover > .elemental {
  background: linear-gradient(
      to top,
      var(--gray),
      transparent,
      var(--background)
    ),
    url("../imgs/elemental.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 20px 4px #00b3ff;
}
/* CAMBIOS SPIDERMAN */
.movie:hover > .spiderman {
  background: linear-gradient(
      to top,
      var(--gray),
      transparent,
      var(--background)
    ),
    url("../imgs/spiderman.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 20px 4px #ff0000;
}
/* CAMBIOS TRANSFORMERS */
.movie:hover > .transformers {
  background: linear-gradient(
      to top,
      var(--gray),
      transparent,
      var(--background)
    ),
    url("../imgs/transformer.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 20px 4px #00a677;
}
/* CAMBIOS MARIO BROS */
.movie:hover > .mario {
  background: linear-gradient(
      to top,
      var(--gray),
      transparent,
      var(--background)
    ),
    url("../imgs/mario.avif");
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 20px 4px #0000ff;
}
/* CAMBIOS INDIANA JONES */
.movie:hover > .indiana_jones {
  background: linear-gradient(
      to top,
      var(--gray),
      transparent,
      var(--background)
    ),
    url("../imgs/indiana_jones.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 20px 4px #fff58b;
}
/* CAMBIOS MISION IMPOSIBLE */
.movie:hover > .mision_imposible {
  background: linear-gradient(
      to top,
      var(--gray),
      transparent,
      var(--background)
    ),
    url("../imgs/mision_imposible.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 20px 4px #ededed;
}

/* =============== LISTA DE GENEROS =============== */
.genre-list__title {
  font-size: 2.6rem;
  text-align: center;
  padding-top: 120px;
  font-family: "Montserrat", sans-serif;
  opacity: 0;
}
.genres__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to bottom, var(--gray), var(--background));
  box-shadow: 0px 0px 20px 0px var(--gray);
  gap: 10px;
  flex-wrap: wrap;
}

.genre {
  border-radius: 10px;
  width: 300px;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary);
  opacity: 0;
}

.genre::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  border-radius: 10px;
}

.genre p {
  position: absolute;
  color: var(--primary);
  background-color: var(--gray);
  padding: 5px;
  border-radius: 10px;
  font-size: 1.5rem;
  transition: all 0.2s;
}

.genre:hover::before {
  filter: grayscale(0);
}

.genre:hover > p {
  color: #fff;
}

/* CAMBIOS GENERO ACCIÓN */
.genres__accion::before {
  background: url(../imgs/accion.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(1);
}
/* CAMBIOS GENERO COMEDIA */
.genres__comedia::before {
  background: url(../imgs/comedia.avif);
  background-size: 130%;
  background-repeat: no-repeat;
  filter: grayscale(1);
  background-position: 100%;
}
/* CAMBIOS GENERO DRAMA */
.genres__drama::before {
  background: url(../imgs/drama.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(1);
  background-position: 100%;
}
/* CAMBIOS GENERO TERROR */
.genres__terror::before {
  background: url(../imgs/terror.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(1);
  background-position: 100%;
}
/* CAMBIOS GENERO INFANTIL */
.genres__infantiles::before {
  background: url(../imgs/infantil.avif);
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(1);
}

/* =============== GENEROS =============== */
.genre__title {
  padding: 5px;
  padding-top: 120px;
  font-size: 2.2rem;
  text-align: center;
  border-bottom: 2px solid var(--primary);
  font-family: "Montserrat", sans-serif;
  opacity: 0;
}

.genero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  gap: 20px;
  opacity: 0;
}
.genero img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid var(--primary);
  transition: all 0.2s;
}

.genero a {
  width: 200px;
  height: 300px;
  border-radius: 10px;
  transition: all 0.2s;
}
.genero a:hover {
  box-shadow: 0px 0px 20px 0 var(--primary);
  transform: scale(1.1);
}

.genero a:hover > img {
  filter: saturate(2);
}

/* =============== FOOTER =============== */
.divisor-main-footer {
  border: 2px solid var(--secondary);
  margin-top: 50px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  opacity: 0;
}
.footer-container {
  max-width: 60%;
}
.footer__redes {
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
}

.footer__redes a {
  color: var(--text);
  transition: all 0.2s;
}
.footer__redes a:hover {
  transform: scale(1.4);
  color: var(--primary);
}
.footer__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  font-size: 1rem;
}

.footer__info a {
  color: var(--text);
  text-decoration: none;
  transition: all 0.2s;
}
.footer__info a:hover {
  color: var(--primary);
  text-decoration: underline;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 35px;
}

.footer__contact h4 {
  font-size: 1.6rem;
}

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.form__input-container label {
  font-size: 1.1rem;
}
.form__input-container input {
  font-family: "Poppins", sans-serif;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--text);
  color: var(--text);
  outline: none;
  transition: all 0.1s;
}

.form__input-container input::placeholder {
  color: #ffffffa8;
}
.contact__form textarea {
  resize: none;
  width: 200px;
  height: 100px;
  background: transparent;
  color: var(--text);
  font-family: "Poppins", sans-serif;
  transition: all 0.1s;
}

.contact__form textarea::placeholder {
  color: #ffffffa8;
}

.contact__form input[type="submit"] {
  margin-top: 10px;
  height: 40px;
  width: 150px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  background: transparent;
  color: var(--text);
  border: 2px solid var(--text);
  font-weight: 600;
  transition: all 0.1s;
}

.form__input-container input:hover {
  outline: 1px solid var(--primary);
  border: none;
  border-radius: 5px;
}
.form__input-container input:focus {
  border: none;
  outline: 1px solid var(--primary);
  border-radius: 5px;
  background: var(--gray);
}

.contact__form textarea:hover {
  border-radius: 8px;
  border-color: var(--primary);
}
.contact__form textarea:focus {
  outline: none;
  border-radius: 8px;
  border-color: var(--primary);
  background: var(--gray);
}

.contact__form input[type="submit"]:hover {
  background: var(--gray);
  cursor: pointer;
  border-color: var(--primary);
}

.contact__form input[type="submit"]:active {
  background: var(--text);
  border-color: var(--secondary);
  color: var(--background);
}

.footer__copyright {
  margin: 10px;
  margin-top: 15px;
  text-align: center;
  font-size: 0.9rem;
  color: #ffffff60;
}
