@media (min-width: 2000px) {
  /* =============== HEADER  =============== */
  header {
    justify-content: center;
    gap: 100px;
    z-index: 20;
  }
  /* =============== MAIN  =============== */
  main {
    justify-content: center;
  }
  main .background-img {
    width: 100%;
    position: relative;
    z-index: 0;

    background-image: linear-gradient(to left, transparent, var(--background)),
      url("../imgs/login/fondo.jpg");
    background-size: cover;
  }
  /* =============== FORM  =============== */
  .form-container {
    position: absolute;
    padding: 60px;
    background-color: var(--gray);
    border-radius: 15px;
    z-index: 10;
  }

  .input-container input {
    background: var(--background);
  }

  .form-container input[type="submit"] {
    width: 250px;
    background: var(--background);
  }

  .form-container input[type="submit"]:hover {
    background-color: var(--primary);
  }

  .form-container input[type="submit"]:active {
    background: var(--text);
  }

  .input-container label {
    font-size: 1.3rem;
  }
  .input-container input {
    font-size: 1.3rem;
  }
}

@media (max-width: 1024px) {
  /* =============== MAIN  =============== */

  main .background-img {
    width: 800px;
  }

  /* =============== FORM  =============== */

  .form-container h2 {
    font-size: 2.4rem;
  }

  .form-container p {
    font-size: 1rem;
  }

  .input-container label {
    font-size: 1rem;
    max-width: 300px;
  }

  .input-container input {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  /* ============= HEADER ============= */

  header {
    justify-content: center;
    z-index: 20;
  }
  .register-btn {
    display: none;
  }

  .title {
    font-size: 3rem;
  }
  .nav__logo {
    width: 80px;
  }

  /* ============= MAIN ============= */

  main {
    flex-direction: column-reverse;
    padding: 0;
  }
  main .background-img {
    width: 100vw;
    background-image: linear-gradient(to top, transparent, var(--background)),
      url("../imgs/login/fondo.jpg");
    background-size: cover;
    z-index: 0;
  }

  /* ============= FORM ============= */

  .form-container {
    position: absolute;
    top: 110px;
    margin: 20px;
    padding: 40px;
    background: var(--gray);
    border: 2px solid var(--primary3);
    border-radius: 15px;
    box-shadow: 0 0 20px 5px var(--primary3);
    z-index: 10;
  }
  .form-container h2 {
    font-size: 2rem;
  }
  .form-container p {
    font-size: 1rem;
  }
  .input-container label {
    font-size: 0.9rem;
  }
  .input-container input {
    background: var(--background);
  }
  .plan label {
    background: var(--background);
  }

  input[type="submit"] {
    background: var(--background);
  }
}

@media (max-width: 425px) {
  /* ============= HEADER ============= */
  .title {
    font-size: 2.5rem;
  }
  .nav__logo {
    width: 60px;
  }

  /* ============= MAIN ============= */
  .background-img {
    display: none;
  }

  main {
    background: linear-gradient(
      to bottom,
      var(--primary3),
      var(--secondary),
      var(--background) 75%
    );
  }

  /* ============= FORM ============= */

  .form-container {
    position: static;
    margin: 0;
    padding: 10px 0;
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  .form-container form {
    padding: 20px 5px;
  }
  .form-container h2 {
    font-size: 2rem;
  }
  .form-container p {
    font-size: 1.1rem;
  }

  .input-container {
    flex-direction: column;
  }
  .input-container label {
    font-size: 1.1rem;
  }
  .input-container input {
    font-size: 1.2rem;
    background: var(--gray);
  }

  .container-checkbox {
    flex-direction: row;
  }

  input[type="submit"] {
    background: var(--gray);
  }
  .container-checkbox label {
    max-width: 250px;
  }
}

@media (max-width: 320px) {
  /* ============= HEADER ============= */
  .title {
    font-size: 2.1rem;
  }
  .nav__logo {
    width: 50px;
  }
  /* ============= MAIN ============= */

  /* ============= FORM ============= */

  .container-checkbox label {
    font-size: 1rem;
    max-width: 200px;
  }
  .form-container p {
    font-size: 1rem;
  }
}
